body {
    background-color: #f0f0f0;
}

.center-spin {
    margin-left: 50%;
    margin-right: 50%;
}

.keep-lines {
    white-space: pre-wrap;
}

.center-msg {
    text-align: center;
}

.search-bar {
    width: fit-content;
    border: solid;
    padding: 10px;
}

.intro-text {
    color: black;
    font-size: 25px;
    text-align: justify;
}

.extra-link {
    color: black;
    font-size: 20px;
    margin-right: 50px;
}

.extra-link:hover {
    color: red;
}

.topbar-link {
    text-decoration: none;
    font-weight: bold;
}

.topbar-link:hover {
    text-decoration: underline;
}

.val-link {
    color: black;
    text-decoration: none;
    font-size: 30px;
    border: solid;
    display: block;
    margin: 30px;
    padding: 20px;
    text-align: center;
}

.val-link:hover {
    background-color: yellow;
}

.home-page {
    width: fit-content;
}
